/* mainthing */
:root {
    --privary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --privary-white-color: #ffffff;
}
.list {
    list-style: none;
}
body {
    background-color: var(--privary-white-color);
    color: var(--privary-text-color);
    
    font-size: 14px;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;

}
/* SITE NAV */
.site-nav
{
    letter-spacing: 0.02em;
}
.site-nav .link {
    color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav .link.current {
    color: var(--accent-color);
}
/* hero */
.hero .hero-title {
    color: var(--privary-white-color);
    background-color: #2F303A;
    
    letter-spacing: 0.06em;
    font-size: 44px;
    text-align: center;
}
.hero .hero-button {
    color: var(--privary-white-color);
    background-color: var(--accent-color);
    
    font-family: inherit;
    letter-spacing: 0.06em;
    font-size: 16px;
}
/* main */
.section-title{
    color: var(--title-text-color);
    
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}
.advantages-title {
    color: var(--title-text-color);
   
    font-weight: 700;
    font-size: 14px;

}
/* footer */
.address {
    color: var(--privary-white-color);
}
.contacts {
    color: var(--privary-text-color);
}

span {
    color: var(--accent-color)
}
.filters .button {
    color: var(--title-text-color);
    background-color: #F5F4FA;
}
.filters .button:hover,
.filters .button:focus {
    color: var(--privary-white-color);
    background-color: var(--accent-color);
}
.filters .button.current {
    color: var(--privary-white-color);
    background-color: var(--accent-color);
}
.name {
    color: var(--title-text-color);
    
    font-size: 16px;
    font-weight: 500;
}
.project-title {
    color: var(--title-text-color);

    font-weight: 700;
    letter-spacing: 0.06em;
}
.logo {
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.03em;
}
.logo.foot {
    color: var(--privary-white-color);
    background-color: #2F303A;
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.03em;
    

}
.work {
    font-size: 16px;
}





